
.btnHeader{
	right: 15px;
    width: 145px;
    position: absolute;
    top: 10px;
    background-color: #00c0ef;
    border-color: #00acd6;
    height: 35px;
    border: none;
    color: white;
}
.configSet{
	align-content: center;
    position: absolute;
    right: 175px;
    top: 10px;
    width: 147px;
    height: 35px;
}
.newUser{
	align-content: center;
    position: absolute;
    right: 338px;
    top: 10px;
    width: 147px;
    height: 35px;
}
.btnLogin{
	right: 15px;
    width: 100px;
    background-color: #00c0ef;
    border-color: #00acd6;
    height: 35px;
    border: none;
    color: white;
}